.suelo-1 {
  background: top/cover url(../assets/suelo1-3.png);
}

.text-plan-de-estudio {
  padding: 10px 0;
  border-radius: 10px;
  background-color: #00000060;
  color: #fff;
  text-decoration: underline;
}

.boton-con-texto h3{
    color: #fff; 
    text-decoration:overline;
}

.boton-con-texto {
    /* offset-x | offset-y | blur-radius | color */
    border-radius: 10px;
    background-color: #00000060;
    padding: 5px;
    margin: 5px 10px;
}

#team{
    margin-top: -2px;
    border-top: 2px solid black;
}