body, h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

body, html {
  height: 100%;
  line-height: 1.8;
}

html { scroll-behavior: smooth; }

.nav { z-index: 500; }

.w3-bar .w3-button {
  padding: 16px;
  margin-top: 20px;
}

.text-start { z-index: 20; }

.w3-sidebar { z-index: 1000; }


.logo{
  width: 70px;
}

#home-a{
  margin-top: 0px;
  font-family: "Raleway", sans-serif;
  font-size: 32px;
}


.contenedor-botones{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap; /* permite que bajen a otra línea si la pantalla es pequeña */
}


.plan-estudio{
  display: flex;
  justify-content: center; /* centra horizontalmente */
  align-items: center;     /* centra verticalmente */
  flex-direction: column;  /* organiza contenido de arriba hacia abajo */
}